<h1 align=center>{{title}}</h1>

<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="createUser" (ngSubmit)="newUser($event)">
      <input formControlName="name" type="name" placeholder="Name" required/>
      <input formControlName="email" type="email" placeholder="Email" required/>
      <input formControlName="password" type="password" placeholder="Password" required/>
      
       <select id="loc" (change)="seeVal()">
                <option *ngFor="let c of choices">{{c}}</option>
        </select>


      <button>Create</button>
       <p class="message">Have account? <a href="/start">Login</a></p>
    </form>
  </div>
</div>


